<section class="info-section">
  <div class="container">
    <div class="info-cards">
      <div class="card">
          <div class="card-content">
              <h3>Become An Instructor</h3>
              <p>Top instructors from around the world teach millions of students on Mentoring.</p>
          </div>
          <div class="card-image">
              <img src="../../../../assets/img/become-02.svg" alt="Instructor">
          </div>
      </div>

      <div class="card">
          <div class="card-content">
              <h3>Transform Access To Education</h3>
              <p>Create an account to receive our newsletter, course recommendations and promotions.</p>
          </div>
          <div class="card-image">
              <img src="../../../../assets/img/become-01.svg" alt="Education">
          </div>
      </div>
  </div>

  </div>
</section>
