.section-sub-head span {
  color: #f66962;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 18px;
    display: block;
    letter-spacing: .9px;
}
.section-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.section-sub-head h2 {
  font-size: 36px;
  margin-bottom: 0;
  font-weight: 700;
  color: #0b0b0b;
  letter-spacing: .9px;
}
.section-text {
  max-width: 700px;
  color: #685f78;
  font-size: 16px;
  font-weight: 500;
  margin: 25px 0;
}

.all-category .btn-primary {
  color: #392c7d;
  border: 3px solid #b4a7f5;
  backdrop-filter: blur(151.39px);
  border-radius: 46.9159px;
  background: 0 0;
  border-radius: 46.9159px;
  min-width: 150px;
  padding: 10px 15px;
  font-weight: 500;
}
