<div class="header-fixed">
  <nav>
    <div class="parent-nav">
      <div class="nav-left"><img src="../../../assets/logo.svg" width="150px" alt=""></div>
      <div class="center-links">
        <ul>
          <li>
            <a href="">home</a>
          </li>
          <li>
            <a href="">Instructor</a>
          </li>
          <li>
            <a href="">Student</a>
          </li>
          <li>
            <a href="">Pages</a>
          </li>
          <li>
            <a href="">Blog</a>
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <div class="change-color">U</div>
        <a href="" class="Signin">Signin</a>
        <a href="" class="Signup">Signup</a>
      </div>
    </div>
  </nav>
</div>
