<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="showing-list">
          <div class="row">
            <div class="col-lg-12">
              <div class="show-filter add-course-info">
                <form action="#">
                  <div class="row gx-2 align-items-center">
                    <div class="col-md-6 col-item">
                      <div class="search-group">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search our courses"
                        />
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-item">
                      <div class="input-block select-form mb-0">
                        <select
                          class="form-select select select2-hidden-accessible"
                        >
                          <option data-select2-id="3">Newly published</option>
                          <option>Angular</option>
                          <option>React</option>
                          <option>Nodejs</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex">
            <div class="instructor-box flex-fill">
              <div class="instructor-img">
                <a href="instructor-profile.html">
                  <img
                    class="img-fluid"
                    alt="Img"
                    src="../../../assets/img/user11.jpg"
                  />
                </a>
                <a href="#rate" class="rating-count"
                  ><i class="fa-regular fa-heart"></i
                ></a>
              </div>
              <div class="instructor-content">
                <h5><a href="instructor-profile.html">Rolands R</a></h5>
                <h6>Instructor</h6>
                <div
                  class="rating-img d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-01.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>12+ Lesson</p>
                </div>
                <div
                  class="course-view d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-02.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>9hr 30min</p>
                </div>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating"
                    ><span>4.0</span> (15)</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex">
            <div class="instructor-box flex-fill">
              <div class="instructor-img">
                <a href="instructor-profile.html">
                  <img
                    class="img-fluid"
                    alt="Img"
                    src="../../../assets/img/user11.jpg"
                  />
                </a>
                <a href="#rate" class="rating-count"
                  ><i class="fa-regular fa-heart"></i
                ></a>
              </div>
              <div class="instructor-content">
                <h5><a href="instructor-profile.html">Rolands R</a></h5>
                <h6>Instructor</h6>
                <div
                  class="rating-img d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-01.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>12+ Lesson</p>
                </div>
                <div
                  class="course-view d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-02.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>9hr 30min</p>
                </div>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating"
                    ><span>4.0</span> (15)</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex">
            <div class="instructor-box flex-fill">
              <div class="instructor-img">
                <a href="instructor-profile.html">
                  <img
                    class="img-fluid"
                    alt="Img"
                    src="../../../assets/img/user11.jpg"
                  />
                </a>
                <a href="#rate" class="rating-count"
                  ><i class="fa-regular fa-heart"></i
                ></a>
              </div>
              <div class="instructor-content">
                <h5><a href="instructor-profile.html">Rolands R</a></h5>
                <h6>Instructor</h6>
                <div
                  class="rating-img d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-01.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>12+ Lesson</p>
                </div>
                <div
                  class="course-view d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-02.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>9hr 30min</p>
                </div>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating"
                    ><span>4.0</span> (15)</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="instructor-box flex-fill">
              <div class="instructor-img">
                <a href="instructor-profile.html">
                  <img
                    class="img-fluid"
                    alt="Img"
                    src="../../../assets/img/user11.jpg"
                  />
                </a>
                <a href="#rate" class="rating-count"
                  ><i class="fa-regular fa-heart"></i
                ></a>
              </div>
              <div class="instructor-content">
                <h5><a href="instructor-profile.html">Rolands R</a></h5>
                <h6>Instructor</h6>
                <div
                  class="rating-img d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-01.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>12+ Lesson</p>
                </div>
                <div
                  class="course-view d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-02.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>9hr 30min</p>
                </div>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating"
                    ><span>4.0</span> (15)</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="instructor-box flex-fill">
              <div class="instructor-img">
                <a href="instructor-profile.html">
                  <img
                    class="img-fluid"
                    alt="Img"
                    src="../../../assets/img/user11.jpg"
                  />
                </a>
                <a href="#rate" class="rating-count"
                  ><i class="fa-regular fa-heart"></i
                ></a>
              </div>
              <div class="instructor-content">
                <h5><a href="instructor-profile.html">Rolands R</a></h5>
                <h6>Instructor</h6>
                <div
                  class="rating-img d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-01.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>12+ Lesson</p>
                </div>
                <div
                  class="course-view d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-02.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>9hr 30min</p>
                </div>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating"
                    ><span>4.0</span> (15)</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex">
            <div class="instructor-box flex-fill">
              <div class="instructor-img">
                <a href="instructor-profile.html">
                  <img
                    class="img-fluid"
                    alt="Img"
                    src="../../../assets/img/user11.jpg"
                  />
                </a>
                <a href="#rate" class="rating-count"
                  ><i class="fa-regular fa-heart"></i
                ></a>
              </div>
              <div class="instructor-content">
                <h5><a href="instructor-profile.html">Rolands R</a></h5>
                <h6>Instructor</h6>
                <div
                  class="rating-img d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-01.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>12+ Lesson</p>
                </div>
                <div
                  class="course-view d-flex align-items-center justify-content-center"
                >
                  <img
                    src="../../../assets/img/icon-02.svg"
                    class="me-1"
                    alt="Img"
                  />
                  <p>9hr 30min</p>
                </div>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating"
                    ><span>4.0</span> (15)</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="pagination lms-page">
              <li class="page-item prev">
                <a class="page-link" href="javascript:void(0);" tabindex="-1"
                  ><i class="fas fa-angle-left"></i
                ></a>
              </li>
              <li class="page-item first-page active">
                <a class="page-link" href="javascript:void(0);">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);">5</a>
              </li>
              <li class="page-item next">
                <a class="page-link" href="javascript:void(0);"
                  ><i class="fas fa-angle-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="filter-clear">
          <div class="clear-filter ">
            <h4><i class="feather-filter"></i>Filters</h4>
            <div class="clear-text">
              <p>CLEAR</p>
            </div>
          </div>

          <div class="card search-filter">
            <div class="card-body">
              <div class="filter-widget mb-0">
                <div class="categories-head d-flex align-items-center">
                  <h4>Course categories</h4>
                  <i class="fas fa-angle-down"></i>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox"   />
                    <span class="checkmark"></span> Backend (3)
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox"   />
                    <span class="checkmark"></span> CSS (2)
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox"   />
                    <span class="checkmark"></span> Frontend (2)
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input
                      type="checkbox"

                      checked=""
                    />
                    <span class="checkmark"></span> General (2)
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input
                      type="checkbox"

                      checked=""
                    />
                    <span class="checkmark"></span> IT &amp; Software (2)
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox"   />
                    <span class="checkmark"></span> Photography (2)
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox"   />
                    <span class="checkmark"></span> Programming Language (3)
                  </label>
                </div>
                <div>
                  <label class="custom_check mb-0">
                    <input type="checkbox"   />
                    <span class="checkmark"></span> Technology (2)
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card search-filter">
            <div class="card-body">
              <div class="filter-widget mb-0">
                <div class="categories-head d-flex align-items-center">
                  <h4>Instructors</h4>
                  <i class="fas fa-angle-down"></i>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox"   />
                    <span class="checkmark"></span> Keny White (10)
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox"   />
                    <span class="checkmark"></span> Hinata Hyuga (5)
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox"   />
                    <span class="checkmark"></span> John Doe (3)
                  </label>
                </div>
                <div>
                  <label class="custom_check mb-0">
                    <input
                      type="checkbox"

                      checked=""
                    />
                    <span class="checkmark"></span> Nicole Brown
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card search-filter">
            <div class="card-body">
              <div class="filter-widget mb-0">
                <div class="categories-head d-flex align-items-center">
                  <h4>Price</h4>
                  <i class="fas fa-angle-down"></i>
                </div>
                <div>
                  <label class="custom_check custom_one">
                    <input type="radio"   />
                    <span class="checkmark"></span> All (18)
                  </label>
                </div>
                <div>
                  <label class="custom_check custom_one">
                    <input type="radio"   />
                    <span class="checkmark"></span> Free (3)
                  </label>
                </div>
                <div>
                  <label class="custom_check custom_one mb-0">
                    <input type="radio"   checked="" />
                    <span class="checkmark"></span> Paid (15)
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
