
<section class="course-content checkout-widget" style="transform: none">
  <div class="container" style="transform: none">
    <div class="row" style="transform: none">
      <div class="col-lg-8">
        <div class="student-widget">
          <div class="student-widget-group add-course-info">
            <div class="cart-head">
              <h4>Billing Address</h4>
            </div>
            <div class="checkout-form">
              <!-- <form [formGroup]="addressForm" (ngSubmit)="submitAddressForm()">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-block">
                      <label class="form-control-label">First Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your first Name"
                        formControlName="firstName"
                      />
                      <div *ngIf="addressForm.get('firstName')?.invalid && addressForm.get('firstName')?.touched">
                        <small class="text-danger">First Name is required and should be at least 2 characters.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-block">
                      <label class="form-control-label">Last Name</label>
                      <input type="text" formControlName="lastName" class="form-control" placeholder="Enter your last name" />
                      <div *ngIf="addressForm.get('lastName')?.invalid && addressForm.get('lastName')?.touched">
                        <small class="text-danger">Last name is required</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-block">
                      <label class="form-control-label">Phone Number (Optional)</label>
                      <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Phone Number" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-block">
                      <label class="form-control-label">Address Line 1</label>
                      <input type="text" formControlName="addressLine1" class="form-control" placeholder="Address" />
                      <div *ngIf="addressForm.get('addressLine1')?.invalid && addressForm.get('addressLine1')?.touched">
                        <small class="text-danger">Address Line 1 is required</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-block">
                      <label class="form-control-label">Address Line 2 (Optional)</label>
                      <input type="text" formControlName="addressLine2" class="form-control" placeholder="Address" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-label">State</label>
                      <select class="form-select" formControlName="state">
                        <option value="" disabled>Select State</option>
                        <option value="Brazil">Brazil</option>
                        <option value="French">French</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-label">Country</label>
                      <select class="form-select" formControlName="country">
                        <option value="" disabled>Select Country</option>
                        <option value="India">India</option>
                        <option value="America">America</option>
                        <option value="London">London</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-control-label">Zip/Postal Code</label>
                      <input type="text" formControlName="zipCode" class="form-control" />
                      <div *ngIf="addressForm.get('zipCode')?.invalid && addressForm.get('zipCode')?.touched">
                        <small class="text-danger">Zip/Postal Code is required</small>
                      </div>
                    </div>
                  </div>
                </div>
              </form> -->
              <form [formGroup]="addressForm" (ngSubmit)="postPayment()">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-block">
                      <label class="form-control-label">First Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your first Name"
                        formControlName="firstName"
                      />
                      <div *ngIf="addressForm.get('firstName')?.invalid && addressForm.get('firstName')?.touched">
                        <small class="text-danger">First Name is required and should be at least 2 characters.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-block">
                      <label class="form-control-label">Last Name</label>
                      <input type="text" formControlName="lastName" class="form-control" placeholder="Enter your last name" />
                      <div *ngIf="addressForm.get('lastName')?.invalid && addressForm.get('lastName')?.touched">
                        <small class="text-danger">Last name is required</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-block">
                      <label class="form-control-label">Phone Number (Optional)</label>
                      <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Phone Number" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-block">
                      <label class="form-control-label">Address Line 1</label>
                      <input type="text" formControlName="addressLine1" class="form-control" placeholder="Address" />
                      <div *ngIf="addressForm.get('addressLine1')?.invalid && addressForm.get('addressLine1')?.touched">
                        <small class="text-danger">Address Line 1 is required</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-block">
                      <label class="form-control-label">Address Line 2 (Optional)</label>
                      <input type="text" formControlName="addressLine2" class="form-control" placeholder="Address" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-label">State</label>
                      <select class="form-select" formControlName="state">
                        <option value="" disabled>Select State</option>
                        <option value="Brazil">Brazil</option>
                        <option value="French">French</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-label">Country</label>
                      <select class="form-select" formControlName="country">
                        <option value="" disabled>Select Country</option>
                        <option value="India">India</option>
                        <option value="America">America</option>
                        <option value="London">London</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-block">
                      <label class="form-control-label">Zip/Postal Code</label>
                      <input type="text" formControlName="zipCode" class="form-control" />
                      <div *ngIf="addressForm.get('zipCode')?.invalid && addressForm.get('zipCode')?.touched">
                        <small class="text-danger">Zip/Postal Code is required</small>
                      </div>
                    </div>
                  </div>
                </div>

              </form>


            </div>
          </div>
        </div>

        <div class="student-widget pay-method">
          <div class="student-widget-group add-course-info">
            <div class="cart-head">
              <h4>Payment Method</h4>
            </div>
            <div class="checkout-form">
              <form [formGroup]="paymentForm" (ngSubmit)="postPayment()">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="wallet-method">
                      <label class="radio-inline custom_radio me-4">
                        <input type="radio" formControlName="paymentMethod" value="credit" />
                        <span class="checkmark"></span> Credit or Debit card
                      </label>
                      <label class="radio-inline custom_radio">
                        <input type="radio" formControlName="paymentMethod" value="paypal" />
                        <span class="checkmark"></span> PayPal
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="input-block">
                      <label class="form-control-label">Card Number</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="XXXX XXXX XXXX XXXX"
                        formControlName="cardNumber"
                      />
                      <div *ngIf="paymentForm.get('cardNumber')?.invalid && paymentForm.get('cardNumber')?.touched">
                        <small class="text-danger">Card Number must be 16 digits.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-block">
                      <label class="form-control-label">Expiry Month</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="MM"
                        formControlName="expiryMonth"
                      />
                      <div *ngIf="paymentForm.get('expiryMonth')?.invalid && paymentForm.get('expiryMonth')?.touched">
                        <small class="text-danger">Expiry Month is required.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-block">
                      <label class="form-control-label">Expiry Year</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="YYYY"
                        formControlName="expiryYear"
                      />
                      <div *ngIf="paymentForm.get('expiryYear')?.invalid && paymentForm.get('expiryYear')?.touched">
                        <small class="text-danger">Expiry Year is required.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-block">
                      <label class="form-control-label">CVV</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="CVV"
                        formControlName="cvv"
                      />
                      <div *ngIf="paymentForm.get('cvv')?.invalid && paymentForm.get('cvv')?.touched">
                        <small class="text-danger">CVV must be 3 digits.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-block">
                      <label class="form-control-label">Name on Card</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Cardholder Name"
                        formControlName="nameOnCard"
                      />
                      <div *ngIf="paymentForm.get('nameOnCard')?.invalid && paymentForm.get('nameOnCard')?.touched">
                        <small class="text-danger">Name on Card is required.</small>
                      </div>
                    </div>
                  </div>
                </div>


              </form>
              <div class="col-lg-12">
                <button type="button" class="btn btn-primary" (click)="postPayment()">
                  Submit Payment
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 theiaStickySidebar"
        style="
          position: relative;
          overflow: visible;
          box-sizing: border-box;
          min-height: 1px;
        "
      >
        <div
          class="theiaStickySidebar"
          style="
            padding-top: 0px;
            padding-bottom: 1px;
            position: static;
            transform: none;
            top: 0px;
            left: 951.987px;
          "
        >
          <div class="student-widget select-plan-group">
            <div class="student-widget-group">
              <div class="plan-header">
                <h4>Selected Plan</h4>
              </div>
              <div class="basic-plan">
                <h3>Basic</h3>
                <p>
                  For individuals who just need to start with the basic features
                </p>
                <p>per user, per month when billed monthly</p>
                <h2><span>$</span>10</h2>
              </div>
              <div class="benifits-feature">
                <h3>Benefits</h3>
                <ul>
                  <li>
                    <i class="fas fa-circle"></i> Access to slack community
                  </li>
                  <li><i class="fas fa-circle"></i> Access to support team</li>
                  <li><i class="fas fa-circle"></i> Algorithmic bidding</li>
                  <li>
                    <i class="fas fa-circle"></i> Keyword and ASIN harvesting
                  </li>
                </ul>
              </div>
              <div class="benifits-feature">
                <h3>Features</h3>
                <ul>
                  <li><i class="fas fa-circle"></i> Search term isolation</li>
                  <li><i class="fas fa-circle"></i> Total sales analytics</li>
                  <li><i class="fas fa-circle"></i> Best seller rank</li>
                  <li><i class="fas fa-circle"></i> Placement optimization</li>
                </ul>
              </div>
              <div class="plan-change">
                <a href="pricing-plan.html" class="btn btn-primary"
                  >Change the Plan</a
                >
              </div>
            </div>
          </div>
          <div
            class="resize-sensor"
            style="
              position: absolute;
              inset: 0px;
              overflow: hidden;
              z-index: -1;
              visibility: hidden;
            "
          >
            <div
              class="resize-sensor-expand"
              style="
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                z-index: -1;
                visibility: hidden;
              "
            >
              <div
                style="
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  transition: all;
                  width: 450px;
                  height: 1237px;
                "
              ></div>
            </div>
            <div
              class="resize-sensor-shrink"
              style="
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                z-index: -1;
                visibility: hidden;
              "
            >
              <div
                style="
                  position: absolute;
                  left: 0;
                  top: 0;
                  transition: 0s;
                  width: 200%;
                  height: 200%;
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
