<div *ngIf="!data">
  <app-loading></app-loading>
</div>

<div class="container" *ngIf="data">
  <app-headerofcontent
    [headingName]="headingName"
    [subHeading]="subHeading"


    [paragraph]="paragraph"
  >
  </app-headerofcontent>
  <div class="section-categories">
    <div class="boxes d-flex flex-wrap gap-15">
      <ng-container *ngFor="let category of categories; let i = index">
        <div class="box" *ngIf="i < 3">
          <img [src]="category.image_path" [alt]="category.category_name" />
          <div class="section-categories-body">
            <h3>{{ category.category_name }}</h3>
          </div>
        </div>

      </ng-container>




  </div>
  <div class="all-btn all-category d-flex align-items-center justify-content-center">
    <a routerLink="Categories" class="btn btn-primary">All Categories</a>
    </div>
</div>
