<div class="container">

  <app-headerofcontent
  [headingName]="headingName"
  [subHeading]="subHeading"
  [All]="All"
  [paragraph]="paragraph"
  >
  </app-headerofcontent>
  <div class="section-categories">
    <div class="boxes">
      <div class="box">
        <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/categories-icon.png" alt="">
        <div class="section-categories-body">
          <h3> Angular js</h3>
          <p>
            40 instructors
          </p>
        </div>
      </div>
      <div class="box">
        <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/categories-icon.png" alt="">
        <div class="section-categories-body">
          <h3> Angular js</h3>
          <p>
            40 instructors
          </p>
        </div>
      </div>
      <div class="box">
        <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/categories-icon.png" alt="">
        <div class="section-categories-body">
          <h3> Angular js</h3>
          <p>
            40 instructors
          </p>
        </div>
      </div>
      <div class="box">
        <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/categories-icon.png" alt="">
        <div class="section-categories-body">
          <h3> Angular js</h3>
          <p>
            40 instructors
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

