<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="widget-set">
          <div class="widget-setcount">
            <ul id="progressbar">
              <li class="progress-active">
                <p><span></span> Basic Information</p>
              </li>
              <li>
                <p><span></span> Courses Media</p>
              </li>
              <li>
                <p><span></span> Curriculum</p>
              </li>
              <li>
                <p><span></span> Settings</p>
              </li>
            </ul>
          </div>
          <div class="widget-content multistep-form">
            <fieldset>
              <div class="add-course-info">
                <div class="add-course-inner-header">
                  <h4>Basic Information</h4>
                </div>
                <div class="add-course-form">
                  <form [formGroup]="courseData" (ngSubmit)="addCourse()">
                    <div class="input-block">
                      <label class="add-course-label">Course Title</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course Title"
                        formControlName="title"
                      />
                    </div>

                    <div class="input-block">
                      <label class="add-course-label">Course description</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course description"
                        formControlName="description"
                      />
                    </div>

                    <div class="input-block">
                      <label class="add-course-label">Course status</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course status"
                        formControlName="status"
                      />
                    </div>

                    <div class="input-block">
                      <label class="add-course-label"
                        >Course instructor_id</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course instructor_id"
                        formControlName="instructor_id"
                      />
                    </div>

                    <div class="input-block">
                      <label class="add-course-label">Course start_date</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course start_date"
                        formControlName="start_date"
                      />
                    </div>

                    <div class="input-block">
                      <label class="add-course-label">Course end_date</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course end_date"
                        formControlName="end_date"
                      />
                    </div>

                    <div class="input-block">
                      <label class="add-course-label">Course benefits</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course benefits"
                        formControlName="benefits"
                      />
                    </div>

                    <div class="input-block">
                      <label class="add-course-label">Course plan</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course plan"
                        formControlName="plan"
                      />
                    </div>

                    <div class="input-block">
                      <label class="add-course-label">Course durations</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course durations"
                        formControlName="durations"
                      />
                    </div>

                    <div class="input-block">
                      <label class="add-course-label">Course requirements</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course requirements"
                        formControlName="requirements"
                      />
                    </div>
                    <div class="input-block">
                      <label class="add-course-label">Course level</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Course level"
                        formControlName="level"
                      />
                    </div>
                    <div class="input-block">
                      <label class="add-course-label">Courses Category</label>

                      <select
                        class="form-control select select2-hidden-accessible"
                      >
                        <option>select category</option>
                        @for (item of allCategory; track $index) {
                        <option>{{ item.category_name }}</option>
                        }
                        <!-- <option>Category 02</option>
                        <option>Category 03</option>
                        <option>Category 04</option> -->
                      </select>
                      <span
                        class="select2 select2-container select2-container--default"
                        dir="ltr"
                        data-select2-id="2"
                        style="width: 100%"
                        ><span class="selection"
                          ><span
                            class="select2-selection select2-selection--single"
                            role="combobox"
                            aria-haspopup="true"
                            aria-expanded="false"
                            tabindex="0"
                            aria-disabled="false"
                            aria-labelledby="select2-xfnp-container"
                            ><span
                              class="select2-selection__rendered"
                              id="select2-xfnp-container"
                              role="textbox"
                              aria-readonly="true"
                              title="Category 01"
                              >Category 01</span
                            ><span
                              class="select2-selection__arrow"
                              role="presentation"
                              ><b role="presentation"></b></span></span></span
                        ><span
                          class="dropdown-wrapper"
                          aria-hidden="true"
                        ></span
                      ></span>
                    </div>
                    <div class="input-block">
                      <label class="add-course-label">Courses Level</label>
                      <select
                        class="form-control select select2-hidden-accessible"
                        data-select2-id="4"
                        tabindex="-1"
                        aria-hidden="true"
                      >
                        <option data-select2-id="6">Level 01</option>
                        <option>Level 02</option>
                        <option>Level 03</option>
                        <option>Level 04</option></select
                      ><span
                        class="select2 select2-container select2-container--default"
                        dir="ltr"
                        data-select2-id="5"
                        style="width: 100%"
                        ><span class="selection"
                          ><span
                            class="select2-selection select2-selection--single"
                            role="combobox"
                            aria-haspopup="true"
                            aria-expanded="false"
                            tabindex="0"
                            aria-disabled="false"
                            aria-labelledby="select2-1cos-container"
                            ><span
                              class="select2-selection__rendered"
                              id="select2-1cos-container"
                              role="textbox"
                              aria-readonly="true"
                              title="Level 01"
                              >Level 01</span
                            ><span
                              class="select2-selection__arrow"
                              role="presentation"
                              ><b role="presentation"></b></span></span></span
                        ><span
                          class="dropdown-wrapper"
                          aria-hidden="true"
                        ></span
                      ></span>
                    </div>


                    <button type="submit">submit</button>
                  </form>
                </div>
                <div class="widget-btn">
                  <a class="btn btn-black">Back</a>
                  <a class="btn btn-info-light next_btn">Continue</a>
                </div>
              </div>
            </fieldset>
            <!-- <fieldset class="field-card" id="first">
              <div class="add-course-info">
                <div class="add-course-inner-header">
                  <h4>Courses Media</h4>
                </div>
                <div class="add-course-form">
                  <form action="#">
                    <div class="input-block">
                      <label class="add-course-label">Course cover image</label>
                      <div class="relative-form">
                        <span>No File Selected</span>
                        <label class="relative-file-upload">
                          Upload File <input type="file" />
                        </label>
                      </div>
                    </div>
                    <div class="input-block">
                      <div class="add-image-box">
                        <a href="javascript:void(0);">
                          <i class="far fa-image"></i>
                        </a>
                      </div>
                    </div>
                    <div class="input-block">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Video URL"
                      />
                    </div>
                    <div class="input-block">
                      <div class="add-image-box add-video-box">
                        <a href="javascript:void(0);">
                          <i class="fas fa-circle-play"></i>
                        </a>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="widget-btn">
                  <a class="btn btn-black prev_btn">Previous</a>
                  <a class="btn btn-info-light next_btn">Continue</a>
                </div>
              </div>
            </fieldset>
            <fieldset class="field-card">
              <div class="add-course-info">
                <div class="add-course-inner-header">
                  <h4>Curriculum</h4>
                </div>
                <div class="add-course-section">
                  <a href="javascript:void(0);" class="btn">Add Section</a>
                </div>
                <div class="add-course-form">
                  <div class="curriculum-grid">
                    <div class="curriculum-head">
                      <p>Section 1: Introduction</p>
                      <a href="javascript:void(0);" class="btn">Add Lecture</a>
                    </div>
                    <div class="curriculum-info">
                      <div id="accordion">
                        <div class="faq-grid">
                          <div class="faq-header">
                            <a
                              class="collapsed faq-collapse"
                              data-bs-toggle="collapse"
                              href="#collapseOne"
                            >
                              <i class="fas fa-align-justify"></i> Introduction
                            </a>
                            <div class="faq-right">
                              <a href="javascript:void(0);">
                                <i class="far fa-pen-to-square me-1"></i>
                              </a>
                              <a href="javascript:void(0);" class="me-0">
                                <i class="far fa-trash-can"></i>
                              </a>
                            </div>
                          </div>
                          <div
                            id="collapseOne"
                            class="collapse"
                            data-bs-parent="#accordion"
                          >
                            <div class="faq-body">
                              <div class="add-article-btns">
                                <a href="javascript:void(0);" class="btn"
                                  >Add Article</a
                                >
                                <a href="javascript:void(0);" class="btn me-0"
                                  >Add Description</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="faq-grid">
                          <div class="faq-header">
                            <a
                              class="collapsed faq-collapse"
                              data-bs-toggle="collapse"
                              href="#collapseTwo"
                            >
                              <i class="fas fa-align-justify"></i> Installing
                              Development Software
                            </a>
                            <div class="faq-right">
                              <a href="javascript:void(0);">
                                <i class="far fa-pen-to-square me-1"></i>
                              </a>
                              <a href="javascript:void(0);" class="me-0">
                                <i class="far fa-trash-can"></i>
                              </a>
                            </div>
                          </div>
                          <div
                            id="collapseTwo"
                            class="collapse"
                            data-bs-parent="#accordion"
                          >
                            <div class="faq-body">
                              <div class="add-article-btns">
                                <a href="javascript:void(0);" class="btn"
                                  >Add Article</a
                                >
                                <a href="javascript:void(0);" class="btn me-0"
                                  >Add Description</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="faq-grid mb-0">
                          <div class="faq-header">
                            <a
                              class="collapsed faq-collapse"
                              data-bs-toggle="collapse"
                              href="#collapseThree"
                            >
                              <i class="fas fa-align-justify"></i> Hello World
                              Project from GitHub
                            </a>
                            <div class="faq-right">
                              <a href="javascript:void(0);">
                                <i class="far fa-pen-to-square me-1"></i>
                              </a>
                              <a href="javascript:void(0);" class="me-0">
                                <i class="far fa-trash-can"></i>
                              </a>
                            </div>
                          </div>
                          <div
                            id="collapseThree"
                            class="collapse"
                            data-bs-parent="#accordion"
                          >
                            <div class="faq-body">
                              <div class="add-article-btns">
                                <a href="javascript:void(0);" class="btn"
                                  >Add Article</a
                                >
                                <a href="javascript:void(0);" class="btn me-0"
                                  >Add Description</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="curriculum-grid mb-0">
                    <div class="curriculum-head">
                      <p>Section 1: JavaScript Beginnings</p>
                      <a href="javascript:void(0);" class="btn">Add Lecture</a>
                    </div>
                    <div class="curriculum-info">
                      <div id="accordion-one">
                        <div class="faq-grid">
                          <div class="faq-header">
                            <a
                              class="collapsed faq-collapse"
                              data-bs-toggle="collapse"
                              href="#collapseFour"
                            >
                              <i class="fas fa-align-justify"></i> Introduction
                            </a>
                            <div class="faq-right">
                              <a href="javascript:void(0);">
                                <i class="far fa-pen-to-square me-1"></i>
                              </a>
                              <a href="javascript:void(0);" class="me-0">
                                <i class="far fa-trash-can"></i>
                              </a>
                            </div>
                          </div>
                          <div
                            id="collapseFour"
                            class="collapse"
                            data-bs-parent="#accordion-one"
                          >
                            <div class="faq-body">
                              <div class="add-article-btns">
                                <a href="javascript:void(0);" class="btn"
                                  >Add Article</a
                                >
                                <a href="javascript:void(0);" class="btn me-0"
                                  >Add Description</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="faq-grid">
                          <div class="faq-header">
                            <a
                              class="collapsed faq-collapse"
                              data-bs-toggle="collapse"
                              href="#collapseFive"
                            >
                              <i class="fas fa-align-justify"></i> Installing
                              Development Software
                            </a>
                            <div class="faq-right">
                              <a href="javascript:void(0);">
                                <i class="far fa-pen-to-square me-1"></i>
                              </a>
                              <a href="javascript:void(0);" class="me-0">
                                <i class="far fa-trash-can"></i>
                              </a>
                            </div>
                          </div>
                          <div
                            id="collapseFive"
                            class="collapse"
                            data-bs-parent="#accordion-one"
                          >
                            <div class="faq-body">
                              <div class="add-article-btns">
                                <a href="javascript:void(0);" class="btn"
                                  >Add Article</a
                                >
                                <a href="javascript:void(0);" class="btn me-0"
                                  >Add Description</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="faq-grid">
                          <div class="faq-header">
                            <a
                              class="collapsed faq-collapse"
                              data-bs-toggle="collapse"
                              href="#collapseSix"
                            >
                              <i class="fas fa-align-justify"></i> Hello World
                              Project from GitHub
                            </a>
                            <div class="faq-right">
                              <a href="javascript:void(0);">
                                <i class="far fa-pen-to-square me-1"></i>
                              </a>
                              <a href="javascript:void(0);" class="me-0">
                                <i class="far fa-trash-can"></i>
                              </a>
                            </div>
                          </div>
                          <div
                            id="collapseSix"
                            class="collapse"
                            data-bs-parent="#accordion-one"
                          >
                            <div class="faq-body">
                              <div class="add-article-btns">
                                <a href="javascript:void(0);" class="btn"
                                  >Add Article</a
                                >
                                <a href="javascript:void(0);" class="btn me-0"
                                  >Add Description</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="faq-grid mb-0">
                          <div class="faq-header">
                            <a
                              class="collapsed faq-collapse"
                              data-bs-toggle="collapse"
                              href="#collapseSeven"
                            >
                              <i class="fas fa-align-justify"></i> Our Sample
                              Website
                            </a>
                            <div class="faq-right">
                              <a href="javascript:void(0);">
                                <i class="far fa-pen-to-square me-1"></i>
                              </a>
                              <a href="javascript:void(0);" class="me-0">
                                <i class="far fa-trash-can"></i>
                              </a>
                            </div>
                          </div>
                          <div
                            id="collapseSeven"
                            class="collapse"
                            data-bs-parent="#accordion-one"
                          >
                            <div class="faq-body">
                              <div class="add-article-btns">
                                <a href="javascript:void(0);" class="btn"
                                  >Add Article</a
                                >
                                <a href="javascript:void(0);" class="btn me-0"
                                  >Add Description</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="widget-btn">
                  <a class="btn btn-black prev_btn">Previous</a>
                  <a class="btn btn-info-light next_btn">Continue</a>
                </div>
              </div>
            </fieldset>
            <fieldset class="field-card">
              <div class="add-course-info">
                <div class="add-course-inner-header">
                  <h4>Requirements</h4>
                </div>
                <div class="add-course-form">
                  <form action="#">
                    <div class="input-block input-block-tagsinput">
                      <div class="bootstrap-tagsinput">
                        <span class="tag badge badge-info"
                          >jquery<span data-role="remove"></span
                        ></span>
                        <span class="tag badge badge-info">
                          bootstrap<span data-role="remove"></span
                        ></span>
                        <input type="text" placeholder="" />
                      </div>
                      <input
                        type="text"
                        data-role="tagsinput"
                        class="input-tags form-control"
                        name="html"
                        value="jquery, bootstrap"
                        id="html"
                        style="display: none"
                      />
                    </div>
                    <div class="input-block mb-0">
                      <label class="add-course-label">Price</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="10.00"
                      />
                    </div>
                  </form>
                </div>
                <div class="widget-btn">
                  <a class="btn btn-black prev_btn">Previous</a>
                  <a class="btn btn-info-light next_btn">Continue</a>
                </div>
              </div>
            </fieldset>
            <fieldset class="field-card">
              <div class="add-course-info">
                <div class="add-course-msg">
                  <i class="fas fa-circle-check"></i>
                  <h4>The Course Added Succesfully</h4>
                  <p>Admin will be Approve soon.</p>
                </div>
              </div>
            </fieldset> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
