<div *ngIf="!data">
  <app-loading></app-loading>
</div>

<section class="courses" *ngIf="data">
  <div class="container">
    <app-headerofcontent
      [headingName]="headingName"
      [subHeading]="subHeading"
      [paragraph]="paragraph"
    >
    </app-headerofcontent>
    <div class="card-section">
      <div class="cards">
        <ng-container

          *ngFor="let course of courses; let i = index"
          (mouseenter)="getInstructorOfCourse(course.id)"
        >
        <div class="card-container" *ngIf="i<3" class="card">
          <div class="card-img">
            <img [src]="course.image_path" [alt]="course.id" alt="" />
          </div>
          <div class="card-body">
            <div class="instructor-details">

              <div class="icon">
                <i class="fa-regular fa-heart"  (click)="addTowishList(course.id)"></i>
              </div>
            </div>
            <div class="course-title">
              <a routerLink="courses/course-details/{{ course.id }}">
                <h3>{{ course.title }}</h3></a
              >
            </div>
            <div class="lessons-time">
              <div class="img-lesson">
                <img src="../../../../assets/img/icon/icon-01.svg" alt="" />
                <p>12+ Lesson</p>
              </div>
              <div class="time">
                <img src="../../../../assets/img/icon/icon-02.svg" alt="" />
                <p>{{course.durations}}</p>
              </div>
            </div>
          </div>
          <div class="cardfooter">
            <div
              class="footer d-flex align-items-center justify-content-between"
            >
              <div class="rating m-0">
                <div class="course-rating">
                  <i
                    *ngFor="let star of [0, 1, 2, 3, 4]; let i = index"
                    [class.filled]="i < getRating(course.rating)"
                    class="fas fa-star"

                  ></i>
                </div>
                <span class="d-inline-block average-rating"
                  ><span>{{ course.rating }}</span>
                </span>
              </div>
              <div class="all-btn all-category d-flex align-items-center">
                <a [routerLink]="['/courses/course-details', course.id, 'payment']" class="btn btn-primary" *ngIf="course.plan === 'payment'">BUY NOW</a>
                <a routerLink="courses/course-details/{{ course.id }}" class="btn btn-primary" *ngIf="course.plan === 'free'">ENROLL</a>
              </div>
            </div>
          </div>
        </div>

        </ng-container>

      </div>
      <div class="all-btn all-category d-flex align-items-center justify-content-center">
        <a routerLink="courses" class="btn btn-primary">All Courses</a>
        </div>
    </div>
  </div>
</section>
