<nav>
  <div class="parent-nav">
    <div class="nav-left">
      <img src="../../assets/img/logo.svg" width="150px" alt="" />
    </div>
    <div class="center-links">
      <ul>
        <li>
          <a routerLink="">home</a>
        </li>
        <li>
          <a routerLink="/instructor">Instructor</a>
        </li>
        <li>
          <a routerLink="">Student</a>
        </li>
        <li>
          <a routerLink="courses">Courses</a>
        </li>
        <li>
          <a routerLink="">Blog</a>
        </li>
      </ul>
    </div>
    <div class="nav-right">
      <div class="change-color">U</div>
      <a href="" class="Signin">Signin</a>
      <a href="" class="Signup">Signup</a>
    </div>
  </div>
</nav>
