<div class="featured-instructors">
  <div class="instructor-heading">
    <h2>Featured Instructor</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget aenean accumsan bibendum gravida maecenas augue elementum et neque. Suspendisse imperdiet.</p>
  </div>
  <div class="slider">
    <div class="card">
      <div class="card-img">
     <img src="../../../../assets/img/user/user7.jpg" alt="">
      </div>
      <div class="card-body">
        <div class="heading">
          <h3>David Leey</h3>
          <p>Web developer</p>
        </div>
        <div class="students">
          <i class="fa-solid fa-user-group"></i>
          <p> 30students</p>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-img">
     <img src="../../../../assets/img/user/user7.jpg" alt="">
      </div>
      <div class="card-body">
        <div class="heading">
          <h3>David Leey</h3>
          <p>Web developer</p>
        </div>
        <div class="students">
          <i class="fa-solid fa-user-group"></i>
          <p> 30students</p>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-img">
     <img src="../../../../assets/img/user/user7.jpg" alt="">
      </div>
      <div class="card-body">
        <div class="heading">
          <h3>David Leey</h3>
          <p>Web developer</p>
        </div>
        <div class="students">
          <i class="fa-solid fa-user-group"></i>
          <p> 30students</p>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-img">
     <img src="../../../../assets/img/user/user7.jpg" alt="">
      </div>
      <div class="card-body">
        <div class="heading">
          <h3>David Leey</h3>
          <p>Web developer</p>
        </div>
        <div class="students">
          <i class="fa-solid fa-user-group"></i>
          <p> 30students</p>
        </div>

      </div>
    </div>
  </div>
</div>

