<div class="col-xl-9 col-lg-9">
  <div class="settings-widget card-info">
    <div class="settings-menu p-0">
      <div class="profile-heading">
        <h3>Enrolled Courses</h3>
      </div>
      <div class="checkout-form pb-0">
        <div class="wishlist-tab">
          <ul class="nav" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                href="javascript:void(0);"
                class=""
                data-bs-toggle="tab"
                data-bs-target="#enroll-courses"
                aria-selected="false"
                role="tab"
                tabindex="-1"
                >Enrolled Courses (06)</a
              >
            </li>

          </ul>
        </div>
        <div class="tab-content">
          <div
            class="tab-pane fade active show"
            id="complete-courses"
            role="tabpanel"
          >
            <div class="row">
              <div class="col-xxl-4 col-md-6 d-flex" *ngFor="let course of Enrolledcourses">
                <div class="course-box flex-fill">
                  <div class="product">
                    <div class="product-img">
                      <a href="course-details.html">
                        <img
                          class="img-fluid"
                          alt="Img"
                          [src]="course.image_path"
                        />
                      </a>
                      <div class="price combo">
                        <h3>{{course.price=="0"? "FREE" : course.price}}</h3>
                      </div>
                    </div>
                    <div class="product-content">
                      <div class="course-group d-flex">
                        <div class="course-group-img d-flex flex-column">
                          <a href="instructor-profile.html"
                            ><img
                              [src]="User.image_path"
                              alt="Img"
                              class="img-fluid instimg"
                          /></a>
                          <div class="course-name">
                            <h4><a href="instructor-profile.html">{{User.first_name}} {{User.last_name}} </a></h4>
                            <p>Instructor</p>
                          </div>
                        </div>
                        <div
                          class="course-share d-flex align-items-center justify-content-center"
                        >
                          <a href="#"><i class="fa-regular fa-heart"></i></a>
                        </div>
                      </div>
                      <h3 class="title instructor-text">
                        <a href="course-details.html"
                          >{{course.title}}</a
                        >
                      </h3>
                      <div class="course-info d-flex align-items-center">
                        <div class="rating-img d-flex align-items-center">
                          <img src="assets/img/icon/icon-01.svg" alt="Img" />
                          <p>10+ Lesson</p>
                        </div>
                        <div class="course-view d-flex align-items-center">
                          <img src="assets/img/icon/icon-02.svg" alt="Img" />
                          <p>{{course.durations}}</p>
                        </div>
                      </div>
                      <div class="rating mb-0">
                        <div class="course-rating">
                          <i
                            *ngFor="let star of [0, 1, 2, 3, 4]; let i = index"
                            [class.filled]="i < getRating(course.rating)"
                            class="fas fa-star"
                          ></i>
                        </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dash-pagination">
    <div class="row align-items-center">
      <div class="col-6">
        <p>Page 1 of 2</p>
      </div>
      <div class="col-6">
        <ul class="pagination">
          <li class="active">
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#"><i class="bx bx-chevron-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
