.section-sub-head span {
  color: #f66962;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 18px;
    display: block;
    letter-spacing: .9px;
}
.section-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.section-sub-head h2 {
  font-size: 36px;
  margin-bottom: 0;
  font-weight: 700;
  color: #0b0b0b;
  letter-spacing: .9px;
}
.section-text {
  max-width: 700px;
  color: #685f78;
  font-size: 16px;
  font-weight: 500;
  margin: 25px 0;
}

.all-category .btn-primary {
  color: #392c7d;
  border: 3px solid #b4a7f5;
  backdrop-filter: blur(151.39px);
  border-radius: 46.9159px;
  background: 0 0;
  border-radius: 46.9159px;
  min-width: 150px;
  padding: 10px 15px;
  font-weight: 500;
}

.section-categories {
  width: 100%;
  padding: 80px;

}
.section-categories .boxes {
  display: flex;
  gap: 10px;
  width: 100%;
}
.section-categories .boxes
.box {
  width: calc(100% / 4);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  gap: 5px;
  border: 1px solid #e9ecef;
  box-shadow: -11.729px -11.729px 32px rgba(255, 255, 255, .15);
  transition: all 1ms ease-in;
}
.box img {
  border-radius: 50%;
  width: 105px;
}
.box h3 {
  font-size: 29px;
  margin-bottom: 0;
  font-weight: 600;
  color: #0b0b0b;
  letter-spacing: .9px;
}
.box p {
  color: #685f78;
  padding: 20px;
}
.box:hover {
  transition: all 1ms ease-in;
  background-color: #495057;
  h3,p {
    color: #fff;
  }

}
