<div class="container">
  <div class="section-header">
  <div class="section-sub-head">
  <span>Favourite Course</span>
  <h2>Top Category</h2>
  </div>
  <div class="all-btn all-category d-flex align-items-center">
  <a href="job-category.html" class="btn btn-primary">All Categories</a>
  </div>
  </div>
  <div class="section-text" >
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget aenean accumsan bibendum gravida
  maecenas augue elementum et neque. Suspendisse imperdiet.</p>
  </div>

  <div class="section-categories">
    <div class="boxes">
      <div class="box">
        <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/categories-icon.png" alt="">
        <div class="section-categories-body">
          <h3> Angular js</h3>
          <p>
            40 instructors
          </p>
        </div>
      </div>
      <div class="box">
        <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/categories-icon.png" alt="">
        <div class="section-categories-body">
          <h3> Angular js</h3>
          <p>
            40 instructors
          </p>
        </div>
      </div>
      <div class="box">
        <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/categories-icon.png" alt="">
        <div class="section-categories-body">
          <h3> Angular js</h3>
          <p>
            40 instructors
          </p>
        </div>
      </div>
      <div class="box">
        <img src="https://dreamslms.dreamstechnologies.com/html/assets/img/categories-icon.png" alt="">
        <div class="section-categories-body">
          <h3> Angular js</h3>
          <p>
            40 instructors
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

