<section class="latestBlog">
  <div class="container">
    <div class="section-sub-head feature-head text-center mb-0">
      <h2>Latest Blogs</h2>
      <div class="section-text aos aos-init aos-animate" data-aos="fade-up">
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget aenean
      accumsan bibendum gravida maecenas augue elementum et neque. Suspendisse imperdiet.</p>
      </div>
      </div>
      <div class="cards">
        <div class="card">
          <div class="card-img">
         <img src="../../../../assets/img/blog/blog-01.jpg" alt="">
          </div>
          <div class="card-body">
            <div class="heading">
              <h3>Attract More Attention for sales and profits </h3>
              <p>Markting</p>
            </div>
            <div class="students">
              <i class="fa-solid fa-calendar-days"></i>
              <span>Jun 15, 2024</span>
            </div>

          </div>
        </div>
        <div class="card">
          <div class="card-img">
         <img src="../../../../assets/img/blog/blog-01.jpg" alt="">
          </div>
          <div class="card-body">
            <div class="heading">
              <h3>Attract More Attention for sales and profits </h3>
              <p>Markting</p>
            </div>
            <div class="students">
              <i class="fa-solid fa-calendar-days"></i>
              <span>Jun 15, 2024</span>
            </div>

          </div>
        </div>
        <div class="card">
          <div class="card-img">
         <img src="../../../../assets/img/blog/blog-01.jpg" alt="">
          </div>
          <div class="card-body">
            <div class="heading">
              <h3>Attract More Attention for sales and profits </h3>
              <p>Markting</p>
            </div>
            <div class="students">
              <i class="fa-solid fa-calendar-days"></i>
              <span>Jun 15, 2024</span>
            </div>

          </div>
        </div>
        <div class="card">
          <div class="card-img">
         <img src="../../../../assets/img/blog/blog-01.jpg" alt="">
          </div>
          <div class="card-body">
            <div class="heading">
              <h3>Attract More Attention for sales and profits </h3>
              <p>Markting</p>
            </div>
            <div class="students">
              <i class="fa-solid fa-calendar-days"></i>
              <span>Jun 15, 2024</span>
            </div>

          </div>
        </div>
      </div>
  </div>
</section>
