img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
a {
  text-decoration: none;

}

h2 a {
  font-size: 15px;
  color: #685f78;
  margin-left: 10px;
}
.tab-title {
  color: #685f78;
}
a
{
  font-size: 15px;
  color: #685f78;
  margin-left: 10px;
}
