<div class="main-wrapper log-wrap">
  <div class="row">
    <div class="col-md-6 login-wrap-bg m-auto">
      <div class="login-wrapper">
        <div class="loginbox">
          <div class="img-logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
            <div class="back-home">
              <a routerLink="/">Back to Home</a>
            </div>
          </div>
          <h1>Sign up</h1>
          <form [formGroup]="dataUser" (ngSubmit)="onSubmit()">
            <div class="input-block">
              <label class="form-control-label">Full Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter your Full Name"
                formControlName="name"
                required
              />
            </div>
            <div class="input-block">
              <label class="form-control-label">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="Enter your email address"
                formControlName="email"
                required
              />
            </div>

            <div class="input-block">
              <label class="form-control-label">Password</label>
              <div class="pass-group">
                <input
                  type="password"
                  class="form-control pass-input"
                  placeholder="Enter your password"
                  formControlName="password"
                  required
                />
                <span class="toggle-password feather-eye"></span>
                <span class="pass-checked"><i class="feather-check"></i></span>
              </div>
            </div>
            <div class="input-block">
              <label class="form-control-label">Confirm Password</label>
              <div class="pass-group">
                <input
                  type="password"
                  class="form-control pass-input"
                  placeholder="Confirm your password"
                  formControlName="password_confirmation"
                  required
                />
                <span class="toggle-password feather-eye"></span>
                <span class="pass-checked"><i class="feather-check"></i></span>
              </div>
            </div>
            <div class="form-check remember-me">
              <label class="form-check-label mb-0">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="remember"
                  required
                />
                I agree to the
                <a href="term-condition.html">Terms of Service</a> and
                <a href="privacy-policy.html">Privacy Policy.</a>
              </label>
            </div>

            <div class="d-grid">
              <button class="btn btn-primary btn-start" type="submit">
                Create Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
