a {
  color: #22100d;
  text-decoration: none;
}
.settings-widget {
  border: 1px solid #e9ecef;
  margin-bottom: 30px;
  border-radius: 10px;
  background: #fff;
}
.settings-menu {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}
.profile-heading {
  padding: 24px 24px 19px;
  border-bottom: 1px solid #e9ecef;
}
.profile-heading h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}

.settings-wrap h1,
h2,
h3,
h4,
h5,
h6 {
  color: #002058;
}
.checkout-form {
  padding: 20px;
}
.custom-table {
  border: 1px solid #f4f6f9;
  border-radius: 5px;
}
.avatar img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
h2 a {
  font-size: 14px;
}
.title-course {
  width: 280px;
  white-space: normal;
  display: block;
}
.title-course {
  width: 280px;
  white-space: normal;
  display: block;
}

.tab-title {
  color: #685f78;
}
.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.table-nowrap tr th, .table-nowrap tr td {
  white-space: nowrap;
}

.custom-table table td {
  border-color: #f4f6f9;
}
.custom-table table td {
  color: #685f78;
  padding: 15px 10px;
}
