<section class="want-toread">
  <div class="container">
    <div class="img-content">
      <div class=" col-md-6 img-container">
        <img src="../../../../assets/img/share.png" alt="">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="share-us">
        <h2>Want to share your knowledge? Join us a Mentor</h2>
        <p>High-definition video is video of higher resolution and quality than standard-definition.
        While there is no standardized meaning for high-definition, generally any video.</p>
        <ul class="course-list">
        <li><i class="fa-solid fa-circle-check"></i>Best Courses</li>
        <li><i class="fa-solid fa-circle-check"></i>Top rated Instructors</li>
        </ul>
        <div class="all-btn all-category d-flex align-items-center">
        <a href="instructor-list.html" class="btn btn-primary">Read More</a>
        </div>
        </div>
        </div>
    </div>

  </div>
</section>
