<div *ngIf="!data">
  <app-loading></app-loading>
</div>
<div *ngIf="data">
  <div class="inner-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="instructor-wrap border-bottom-0 m-0">
            <div class="about-instructor align-items-center">
              <div class="abt-instructor-img">
                <a href="instructor-profile.html"
                  ><img
                    [src]="User?.image_path"
                    alt="img"
                    class="img-fluid"
                /></a>
              </div>
              <div class="instructor-detail me-3">
                <h5><a href="instructor-profile.html">{{User?.first_name}} {{User?.last_name}}</a></h5>
                <p>UX/UI Designer</p>
              </div>
              <div class="rating mb-0">
                <div class="course-rating">
                  <i
                    *ngFor="let star of [0, 1, 2, 3, 4]; let i = index"
                    [class.filled]="i < getRating(course.rating)"
                    class="fas fa-star"
                  ></i>
                </div>
                <span class="d-inline-block average-rating"
                  ><span>{{ course.rating }}</span> </span
                >
              </div>
            </div>
            <span class="web-badge mb-3">WEB DEVELPMENT</span>
          </div>
          <h2>{{ course.title }}</h2>
          <p>
            {{ course.description }}
          </p>
          <div
            class="course-info d-flex align-items-center border-bottom-0 m-0 p-0"
          >
            <div class="cou-info">
              <img src="assets/img/icon/icon-01.svg" alt="Img" />
              <p>12+ Lesson</p>
            </div>
            <div class="cou-info">
              <img src="assets/img/icon/timer-icon.svg" alt="Img" />
              <p>{{ course.start_date }}</p>
            </div>
            <div class="cou-info">
              <img src="assets/img/icon/people.svg" alt="Img" />
              <p>32 students enrolled</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="page-content course-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="card overview-sec">
            <div class="card-body">
              <h5 class="subs-title">Overview</h5>
              <h6>Course Description</h6>
              <p>
              {{course.description}}
              </p>
              <p>
                {{course.description}}
              </p>
              <h6>What you'll learn</h6>
              <div class="row">
                <div class="col-md-12">
                  <ul>
                    <li *ngFor="let benefit of courseBenefits">{{ benefit.trim() }}</li>
                  </ul>
                </div>

              </div>
              <h6>Requirements</h6>
              <ul class="mb-0">

                <li *ngFor="let req of reguiremnets">{{ req.trim() }}</li>
              </ul>
            </div>
          </div>

          <div class="card content-sec">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="subs-title">Course Content</h5>
                </div>
                <div class="col-sm-6 text-sm-end">
                  <h6>92 Lectures {{course.durations}}</h6>
                </div>
              </div>

              <div
                *ngFor="let section of courseLessons?.sections; let i = index"
                class="course-card"
              >
                <h6 class="cou-title">
                  <a
                    class="collapsed"
                    data-bs-toggle="collapse"
                    href="#collapseOne{{ i }}"
                    aria-expanded="false"
                    >{{ section?.title }}</a
                  >
                </h6>
                <div
                  id="collapseOne{{ i }}"
                  class="card-collapse collapse"
                  style=""
                >
                  <ul>
                    <li>
                      <p>
                        <img
                          src="assets/img/icon/play.svg"
                          alt="Img"
                          class="me-2"
                        />{{ section?.description }}
                      </p>
                      <div class="lessons">
                        <ul class="lesson-list">
                          <li *ngFor="let lesson of section.lessons" class="lesson-item">
                            <div class="lesson-header">
                              <i class="fas fa-play-circle lesson-icon"></i>
                              <strong class="lesson-title">{{ lesson?.title }}</strong>
                            </div>
                            <p class="lesson-description">{{ lesson?.descrption }}</p>
                            <!-- <a routerLink="/watchnow/{{course.id}}}/{{lesson.id}}" class="lesson-link" target="_blank">Watch Video</a> -->
                            <a [routerLink]="['/watchnow', course.id, lesson.id]" class="lesson-link" target="_blank">Watch Video</a>
                          </li>
                          <li *ngIf="section.lessons.length === 0" class="no-lessons">
                            <i class="fas fa-exclamation-circle"></i> No lessons available in this section.
                          </li>
                        </ul>
                      </div>
                      <div>
                        <a href="javascript:void(0);">Preview</a>
                        <span>02:53</span>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
              <div class="quizeContainer">
                <a [routerLink]="['/quize', course.id]"> {{quize.title}}</a>
              </div>
              <div class="quizeContainer">
                <a [routerLink]="['/quize', course.id]"> Certificate</a>
              </div>
            </div>
            </div>



          <div class="card instructor-sec">
            <div class="card-body">
              <h5 class="subs-title">About the instructor</h5>
              <div class="instructor-wrap">
                <div class="about-instructor">
                  <div class="abt-instructor-img">
                    <a href="instructor-profile.html"
                      ><img
                        src="assets/img/user/user1.jpg"
                        alt="img"
                        class="img-fluid"
                    /></a>
                  </div>
                  <div class="instructor-detail">
                    <h5><a href="instructor-profile.html">{{User?.first_name}} {{User?.last_name}}</a></h5>
                    <!-- <p>UX/UI Designer</p> -->
                  </div>
                </div>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating"
                    >4.5 Instructor Rating</span
                  >
                </div>
              </div>
              <div class="course-info d-flex align-items-center">
                <div class="cou-info">
                  <img src="assets/img/icon/play.svg" alt="Img" />
                  <p>5 Courses</p>
                </div>
                <div class="cou-info">
                  <img src="assets/img/icon/icon-01.svg" alt="Img" />
                  <p>12+ Lesson</p>
                </div>
                <div class="cou-info">
                  <img src="assets/img/icon/icon-02.svg" alt="Img" />
                  <p>{{course.durations}}</p>
                </div>
                <div class="cou-info">
                  <img src="assets/img/icon/people.svg" alt="Img" />
                  <p>270,866 students enrolled</p>
                </div>
              </div>
              <p>
                UI/UX Designer, with 7+ Years Experience. Guarantee of High
                Quality Work.
              </p>
              <p>
                Skills: Web Design, UI Design, UX/UI Design, Mobile Design, User
                Interface Design, Sketch, Photoshop, GUI, Html, Css, Grid
                Systems, Typography, Minimal, Template, English, Bootstrap,
                Responsive Web Design, Pixel Perfect, Graphic Design, Corporate,
                Creative, Flat, Luxury and much more.
              </p>
              <p>Available for:</p>
              <ul>
                <li>1. Full Time Office Work</li>
                <li>2. Remote Work</li>
                <li>3. Freelance</li>
                <li>4. Contract</li>
                <li>5. Worldwide</li>
              </ul>
            </div>
          </div>

          <div class="card review-sec">
            <div class="card-body"  *ngFor="let rev of reviews">
              <h5 class="subs-title">Reviews</h5>
              <div class="instructor-wrap">
                <div class="about-instructor">
                  <div class="abt-instructor-img">
                    <a href="instructor-profile.html"
                      ><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/434px-Unknown_person.jpg"
                        alt="img"
                        class="img-fluid"
                    /></a>
                  </div>
                  <div class="instructor-detail">
                    <h5><a href="instructor-profile.html"></a></h5>
                    <p>UX/UI Designer</p>
                  </div>
                </div>

              </div>
              <p class="rev-info">
              “{{ rev?.review }}. “
              </p>

            </div>
          </div>

          <div class="card comment-sec">
            <div class="card-body">
              <h5 class="subs-title">Post A comment</h5>
              <form  [formGroup]="reviewForm" (ngSubmit)="postComment()">
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-block">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Full Name"
                        fdprocessedid="ygic64t"
                        wfd-id="id0"
                      />
                    </div>
                  </div>

                </div>
                <div class="input-block">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Subject"
                    fdprocessedid="7tsqg"
                    wfd-id="id2"
                  />
                </div>
                <div class="input-block">
                  <textarea
                    rows="4"
                    class="form-control"
                    placeholder="Your Comments"
                    formControlName="review"
                  ></textarea>
                </div>
                <div class="submit-section">
                  <button
                    class="btn submit-btn"
                    type="submit"
                    fdprocessedid="54qnd6"

                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>







        </div>
        <div class="col-lg-4">
          <div class="sidebar-sec">
            <div class="video-sec vid-bg">
              <div class="card">
                <div class="card-body">
                  <a
                    href="https://www.youtube.com/embed/1trvO6dqQUI"
                    class="video-thumbnail"
                    data-fancybox=""
                  >
                    <div class="play-icon">
                      <i class="fa-solid fa-play"></i>
                    </div>
                    <img
                      class=""
                      src="../../../../assets/img/video.jpg"
                      alt="Img"
                    />
                  </a>
                  <div class="video-details">
                    <div class="course-fee">
                      <h2>FREE</h2>
                      <p><span>$99.00</span> 50% off</p>
                    </div>
                    <div class="row gx-2">
                      <div class="col-md-6">
                        <a
                          href="course-wishlist.html"
                          class="btn btn-wish w-100"
                          ><i class="feather-heart"></i> Add to Wishlist</a
                        >
                      </div>
                      <div class="col-md-6">
                        <a href="javascript:void(0);" class="btn btn-wish w-100"
                          ><i class="feather-share-2"></i> Share</a
                        >
                      </div>
                    </div>

                   <button
                     (click)="enroll(course.id, student_id, course.plan)"
                      class="btn btn-enroll w-100"
                       [disabled]="isEnrolled">
                    {{ isEnrolled ? 'Already Enrolled' : 'Enroll Now' }}
                   </button>


                  </div>
                </div>
              </div>
            </div>

            <div class="card include-sec">
              <div class="card-body">
                <div class="cat-title">
                  <h4>Includes</h4>
                </div>
                <ul>
                  <li>
                    <img
                      src="assets/img/icon/import.svg"
                      class="me-2"
                      alt="Img"
                    />
                    {{course.durations}} hours on-demand video
                  </li>
                  <li>
                    <img
                      src="assets/img/icon/play.svg"
                      class="me-2"
                      alt="Img"
                    />
                    69 downloadable resources
                  </li>
                  <li>
                    <img src="assets/img/icon/key.svg" class="me-2" alt="Img" />
                    Full lifetime access
                  </li>
                  <li>
                    <img
                      src="assets/img/icon/mobile.svg"
                      class="me-2"
                      alt="Img"
                    />
                    Access on mobile and TV
                  </li>
                  <li>
                    <img
                      src="assets/img/icon/cloud.svg"
                      class="me-2"
                      alt="Img"
                    />
                    Assignments
                  </li>
                  <li>
                    <img
                      src="assets/img/icon/teacher.svg"
                      class="me-2"
                      alt="Img"
                    />
                    Certificate of Completion
                  </li>
                </ul>
              </div>
            </div>

            <div class="card feature-sec">
              <div class="card-body">
                <div class="cat-title">
                  <h4>Includes</h4>
                </div>
                <ul>
                  <li>
                    <img
                      src="assets/img/icon/users.svg"
                      class="me-2"
                      alt="Img"
                    />
                    Enrolled: <span>32 students</span>
                  </li>
                  <li>
                    <img
                      src="assets/img/icon/timer.svg"
                      class="me-2"
                      alt="Img"
                    />
                    Duration: <span>{{course.durations}}</span>
                  </li>
                  <li>
                    <img
                      src="assets/img/icon/chapter.svg"
                      class="me-2"
                      alt="Img"
                    />
                    Chapters: <span>15</span>
                  </li>
                  <li>
                    <img
                      src="assets/img/icon/video.svg"
                      class="me-2"
                      alt="Img"
                    />
                    Video:<span> 12 hours</span>
                  </li>
                  <li>
                    <img
                      src="assets/img/icon/chart.svg"
                      class="me-2"
                      alt="Img"
                    />
                    Level: <span>Beginner</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
