<!-- <nav>
  <div class="parent-nav">
    <div class="nav-left">
      <img src="../../assets/img/logo.svg" width="150px" alt="" />
    </div>
    <div class="center-links">
      <ul>
        <li>
          <a routerLink="">home</a>
        </li>
        <li>
          <a routerLink="/instructor">Instructor</a>
        </li>
        <li>
          <a routerLink="/student">Student</a>
        </li>
        <li>
          <a routerLink="">Pages</a>
        </li>
        <li>
          <a routerLink="">Blog</a>
        </li>
      </ul>
    </div>
    <div class="nav-right">
      <div class="change-color">U</div>
      <a routerLink="signin" class="Signin">Signin</a>
      <a routerLink="signup" class="Signup">Signup</a>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg min-parent-nav">
  <div class="container-fluid parent-nav">
    <div class="nav-left">
      <img src="../../assets/img/logo.svg" width="150px" alt="" />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse center-links" id="navbarNavAltMarkup">
      <div
        class="navbar-nav w-75 d-flex align-items-center justify-content-between"
      >
        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        <a class="nav-link instructor">
          Instructor

          <div class="list-instructors d-none">
            <a class="nav-link instructor" routerLink="instructor"
              ><span>instructor</span></a
            >
            <a routerLink="instructor-dashboard"><span>Dashboard</span></a>
            <a routerLink="instructor-profile"><span>profile</span></a>
            <a routerLink="instructor-wishlist"><span>wishlist</span></a>
            <a routerLink="instructor-enrolledcourse"
              ><span>enrolledcourse</span></a
            >
            <a routerLink="instructor-qustions-answer"
              ><span>qustions-answer</span></a
            >
            <a routerLink="instructor-referral"><span>referral</span></a>
            <a routerLink="instructor-quiz"><span>quiz</span></a>
            <a routerLink="instructor-course"><span>course</span></a>
            <a routerLink="instructor-announcement"><span>instructor</span></a>
          </div>
        </a>

        <a class="nav-link instructor" routerLink="student-main-dashboard"
          >student

          <div class="list-instructors d-none">
            <a routerLink="student-main-dashboard"><span>student</span></a>

            <a routerLink="student-main-dashboard"><span>Dashboard</span></a>
            <a routerLink="instructor-profile"><span>profile</span></a>
            <a routerLink="instructor-wishlist"><span>wishlist</span></a>
            <a routerLink="instructor-enrolledcourse"
              ><span>enrolledcourse</span></a
            >
            <a routerLink="instructor-qustions-answer"
              ><span>qustions-answer</span></a
            >
            <a routerLink="instructor-referral"><span>referral</span></a>
            <a routerLink="instructor-quiz"><span>quiz</span></a>
            <a routerLink="instructor-course"><span>course</span></a>
            <a routerLink="instructor-announcement">
              <span>announcement</span>
            </a>
          </div>
        </a>
        <a class="nav-link instructor">
          Pages

          <div class="list-instructors d-none">
            <a routerLink="notification"><span>Notification</span></a>

            <a routerLink="wishlist"><span>Wishlist</span></a>
            <!-- <a routerLink="instructor-wishlist"><span>wishlist</span></a> -->
            <a routerLink="courses"><span>Course</span></a>
          </div>
        </a>
        <a class="nav-link" routerLink="student">Blog</a>
      </div>
    </div>
    <div class="nav-right">
      <div class="change-color">U</div>
      <!-- Check if token is null and show Signin/Signup links -->
      <a *ngIf="!token" routerLink="signin" class="Signin">Signin</a>
      <a *ngIf="!token" routerLink="signup" class="Signup">Signup</a>

      <!-- If token exists, show logout button -->
      <button *ngIf="token" (click)="logout()" class="btn Signin p-2">
        Logout
      </button>

      <!-- <a routerLink="signup" class="Signup">Signup</a> -->
    </div>
  </div>
</nav>
