.main-wrapper {
  /* margin-top: 5rem; */
  /* border: solid; */
  margin-bottom: 3rem;
}
.login-bg {
  /* background-image: url(../../../assets/img/login-bg.png); */
  background-size: cover;
  /* top: 0; */
  /* left: 0; */
  /* position: fixed; */
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-wrapper .loginbox {
  max-width: 100%;
  width: 100%;
  font-weight: 600;
  padding: 100px;
}
.login-wrapper .loginbox {
  max-width: 100%;
  width: 100%;
  font-weight: 600;
  padding: 100px;
}
.login-wrapper .loginbox .img-logo {
  margin-bottom: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.login-wrapper .loginbox .img-logo img {
  width: 150px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.back-home {
  margin-left: auto;
}
.login-wrapper .loginbox {
  max-width: 100%;
  width: 100%;
  font-weight: 600;
  padding: 100px;
}
.login-wrapper .loginbox {
  max-width: 100%;
  width: 100%;
  font-weight: 600;
  padding: 100px;
}
.login-wrapper .loginbox label {
  margin-bottom: 15px;
  width: 100%;
  color: #685f78;
  font-weight: 500;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.form-control {
  border-color: #dce0eb;
  color: #685f78;
  font-size: 15px;
  min-height: 44px;
  padding: 6px 15px;
}
.input-block {
  margin-bottom: 1rem;
}
.login-wrapper .loginbox {
  max-width: 100%;
  width: 100%;
  font-weight: 600;
  padding: 100px;
}
.remember-me {
  margin-bottom: 30px;
}
.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.login-wrapper .loginbox {
  /* max-width: 100%; */
  width: 100%;
  font-weight: 600;
  padding: 2rem;
}
.login-wrapper .loginbox label {
  margin-bottom: 15px;
  width: 100%;
  color: #685f78;
  font-weight: 500;
}
.remember-me .form-check-input {
  border: 1px solid #ffdeda;
  border-radius: 0;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}
.remember-me a {
  color: #f66962;
}
.remember-me {
  margin-bottom: 30px;
}
.btn-start {
  background: #ff875a;
  border-radius: 5px;
  padding: 12px 15px;
  font-weight: 700;
  color: #fff;
}
.mentor-course p {
  width: 100%;
}
h2 {
  width: 100%;
}
