<div class="container student">
  <div class="row">
    <div class="col-lg-4 col-md-6 d-flex">
      <div class="instructor-box flex-fill">
        <div class="instructor-img">
          <a href="instructor-profile.html">
            <img
              class="img-fluid"
              alt="Img"
              src="../../../assets/img/user11.jpg"
            />
          </a>
          <a href="#rate" class="rating-count"
          ><i class="fa-regular fa-heart"></i
        ></a>
        </div>
        <div class="instructor-content">
          <h5><a href="instructor-profile.html">Rolands R</a></h5>
          <h6>student</h6>

          <div
            class="rating-img d-flex align-items-center justify-content-center"
          >
            <img
              src="../../../assets/img/loc-icon.svg"
              class="me-1"
              alt="Img"
            />
            <p>France</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex">
      <div class="instructor-box flex-fill">
        <div class="instructor-img">
          <a href="instructor-profile.html">
            <img
              class="img-fluid"
              alt="Img"
              src="../../../assets/img/user11.jpg"
            />
          </a>
          <a href="#rate" class="rating-count"
          ><i class="fa-regular fa-heart"></i
        ></a>
        </div>
        <div class="instructor-content">
          <h5><a href="instructor-profile.html">Rolands R</a></h5>
          <h6>student</h6>

          <div
            class="rating-img d-flex align-items-center justify-content-center"
          >
            <img
              src="../../../assets/img/loc-icon.svg"
              class="me-1"
              alt="Img"
            />
            <p>France</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex">
      <div class="instructor-box flex-fill">
        <div class="instructor-img">
          <a href="instructor-profile.html">
            <img
              class="img-fluid"
              alt="Img"
              src="../../../assets/img/user11.jpg"
            />
          </a>
          <a href="#rate" class="rating-count"
          ><i class="fa-regular fa-heart"></i
        ></a>
        </div>
        <div class="instructor-content">
          <h5><a href="instructor-profile.html">Rolands R</a></h5>
          <h6>student</h6>

          <div
            class="rating-img d-flex align-items-center justify-content-center"
          >
            <img
              src="../../../assets/img/loc-icon.svg"
              class="me-1"
              alt="Img"
            />
            <p>France</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex">
      <div class="instructor-box flex-fill">
        <div class="instructor-img">
          <a href="instructor-profile.html">
            <img
              class="img-fluid"
              alt="Img"
              src="../../../assets/img/user11.jpg"
            />
          </a>
          <a href="#rate" class="rating-count"
          ><i class="fa-regular fa-heart"></i
        ></a>
        </div>
        <div class="instructor-content">
          <h5><a href="instructor-profile.html">Rolands R</a></h5>
          <h6>student</h6>

          <div
            class="rating-img d-flex align-items-center justify-content-center"
          >
            <img
              src="../../../assets/img/loc-icon.svg"
              class="me-1"
              alt="Img"
            />
            <p>France</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex">
      <div class="instructor-box flex-fill">
        <div class="instructor-img">
          <a href="instructor-profile.html">
            <img
              class="img-fluid"
              alt="Img"
              src="../../../assets/img/user11.jpg"
            />
          </a>
          <a href="#rate" class="rating-count"
          ><i class="fa-regular fa-heart"></i
        ></a>
        </div>
        <div class="instructor-content">
          <h5><a href="instructor-profile.html">Rolands R</a></h5>
          <h6>student</h6>

          <div
            class="rating-img d-flex align-items-center justify-content-center"
          >
            <img
              src="../../../assets/img/loc-icon.svg"
              class="me-1"
              alt="Img"
            />
            <p>France</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex">
      <div class="instructor-box flex-fill">
        <div class="instructor-img">
          <a href="instructor-profile.html">
            <img
              class="img-fluid"
              alt="Img"
              src="../../../assets/img/user11.jpg"
            />
          </a>
          <a href="#rate" class="rating-count"
          ><i class="fa-regular fa-heart"></i
        ></a>
        </div>
        <div class="instructor-content">
          <h5><a href="instructor-profile.html">Rolands R</a></h5>
          <h6>student</h6>

          <div
            class="rating-img d-flex align-items-center justify-content-center"
          >
            <img
              src="../../../assets/img/loc-icon.svg"
              class="me-1"
              alt="Img"
            />
            <p>France</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex">
      <div class="instructor-box flex-fill">
        <div class="instructor-img">
          <a href="instructor-profile.html">
            <img
              class="img-fluid"
              alt="Img"
              src="../../../assets/img/user11.jpg"
            />
          </a>
          <a href="#rate" class="rating-count"
          ><i class="fa-regular fa-heart"></i
        ></a>
        </div>
        <div class="instructor-content">
          <h5><a href="instructor-profile.html">Rolands R</a></h5>
          <h6>student</h6>

          <div
            class="rating-img d-flex align-items-center justify-content-center"
          >
            <img
              src="../../../assets/img/loc-icon.svg"
              class="me-1"
              alt="Img"
            />
            <p>France</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex">
      <div class="instructor-box flex-fill">
        <div class="instructor-img">
          <a href="instructor-profile.html">
            <img
              class="img-fluid"
              alt="Img"
              src="../../../assets/img/user11.jpg"
            />
          </a>
          <a href="#rate" class="rating-count"
          ><i class="fa-regular fa-heart"></i
        ></a>
        </div>
        <div class="instructor-content">
          <h5><a href="instructor-profile.html">Rolands R</a></h5>
          <h6>student</h6>

          <div
            class="rating-img d-flex align-items-center justify-content-center"
          >
            <img
              src="../../../assets/img/loc-icon.svg"
              class="me-1"
              alt="Img"
            />
            <p>France</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex">
      <div class="instructor-box flex-fill">
        <div class="instructor-img">
          <a href="instructor-profile.html">
            <img
              class="img-fluid"
              alt="Img"
              src="../../../assets/img/user11.jpg"
            />
          </a>
          <a href="#rate" class="rating-count"
          ><i class="fa-regular fa-heart"></i
        ></a>
        </div>
        <div class="instructor-content">
          <h5><a href="instructor-profile.html">Rolands R</a></h5>
          <h6>student</h6>

          <div
            class="rating-img d-flex align-items-center justify-content-center"
          >
            <img
              src="../../../assets/img/loc-icon.svg"
              class="me-1"
              alt="Img"
            />
            <p>France</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex">
      <div class="instructor-box flex-fill">
        <div class="instructor-img">
          <a href="instructor-profile.html">
            <img
              class="img-fluid"
              alt="Img"
              src="../../../assets/img/user11.jpg"
            />
          </a>
          <a href="#rate" class="rating-count"
          ><i class="fa-regular fa-heart"></i
        ></a>
        </div>
        <div class="instructor-content">
          <h5><a href="instructor-profile.html">Rolands R</a></h5>
          <h6>student</h6>

          <div
            class="rating-img d-flex align-items-center justify-content-center"
          >
            <img
              src="../../../assets/img/loc-icon.svg"
              class="me-1"
              alt="Img"
            />
            <p>France</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex">
      <div class="instructor-box flex-fill">
        <div class="instructor-img">
          <a href="instructor-profile.html">
            <img
              class="img-fluid"
              alt="Img"
              src="../../../assets/img/user11.jpg"
            />
          </a>
          <a href="#rate" class="rating-count"
          ><i class="fa-regular fa-heart"></i
        ></a>
        </div>
        <div class="instructor-content">
          <h5><a href="instructor-profile.html">Rolands R</a></h5>
          <h6>student</h6>

          <div
            class="rating-img d-flex align-items-center justify-content-center"
          >
            <img
              src="../../../assets/img/loc-icon.svg"
              class="me-1"
              alt="Img"
            />
            <p>France</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
