<div class="testmonials">
  <section class="section user-love">
    <div class="container">
    <div class="section-header white-header aos aos-init aos-animate" data-aos="fade-up">
    <div class="section-sub-head feature-head text-center">
    <span>Check out these real reviews</span>
    <h2>Users-love-us Don't take it from us.</h2>
    </div>

    <div class="testmonial-slider">


      <div class="testmonialcontainer">

           <div class="test">
            <div class="img-quote">
              <img src="../../../../assets/img/qute.png" alt="">
            </div>
            <div class="img-quote2">
              <img src="../../../../assets/img/qute-01.png" alt="">
            </div>
            <div class="test-slider">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, ratione esse. Rem, consequatur odit necessitatibus amet expedita quidem exercitationem
                      cum possimus fuga qui voluptatum praesentium, perferendis explicabo voluptate obcaecati quis!</p>
                      <div class="imgheader-container">
                        <div class="img">
                          <img class="d-block w-100" src="../../../../assets/img/user/user1.jpg" alt="First slide">
                          <h3>Daziy Millar</h3>
                          <span>Founder of Awesomeux Technology</span>
                        </div>
                      </div>


                  </div>
                  <div class="carousel-item">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, ratione esse. Rem, consequatur odit necessitatibus amet expedita quidem exercitationem
                      cum possimus fuga qui voluptatum praesentium, perferendis explicabo voluptate obcaecati quis!</p>
                    <img class="d-block w-100" src="../../../../assets/img/user/user2.jpg"  alt="Second slide">
                    <h3>David Lee</h3>
                    <span>Founder of Awesomeux Technology</span>

                  </div>
                  <div class="carousel-item">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, ratione esse. Rem, consequatur odit necessitatibus amet expedita quidem exercitationem
                      cum possimus fuga qui voluptatum praesentium, perferendis explicabo voluptate obcaecati quis!</p>
                    <img class="d-block w-100" src="../../../../assets/img/user/user3.jpg"  alt="Third slide">
                    <h3>John smith</h3>
                    <span>Founder of Awesomeux Technology</span>

                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
           </div>
      </div>

    </div>






    </div>
    </div>
    </section>
</div>
