
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;800;900&amp;display=swap");
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif ;
}
.dash-pagination p {
  font-size: 14px;
  font-weight: 500;
  color: #685f78;
  margin-bottom: 0;
}
.dash-pagination .pagination {
  margin-bottom: 0;
  justify-content: end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
}
.dash-pagination .pagination li {
  margin-right: 10px;
}
.dash-pagination .pagination li.active a,
.dash-pagination .pagination li:hover a {
  background: #ff4667;
  border: 1px solid #ff4667;
  color: #fff;
}
.dash-pagination .pagination li a {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e9ecef;
  color: #685f78;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
