<section class="courses">
  <div class="container">

  <app-headerofcontent
  [headingName]="headingName"
  [subHeading]="subHeading"
  [All]="All"
  [paragraph]="paragraph"
  >
  </app-headerofcontent>
        <div class="card-section">
          <div class="cards">
            <div class="card">
              <div class="card-img">
                <img src="../../../../assets/img/course-01.jpg" alt="">
              </div>
              <div class="card-body">
                <div class="instructor-details">
                  <div class="img-title">
                    <img src="../../../../assets/img/user1.jpg" alt="">
                    <div class="inst-name-job">
                      <h3>  Nicole Brown</h3>
                      <p>instructor</p>
                    </div>

                  </div>
                  <div class="icon">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                  <div class="course-title">
                    <h3> Information About UI/UX Design Degree</h3>
                  </div>
                  <div class="lessons-time">
                    <div class="img-lesson">
                       <img src="../../../../assets/img/icon/icon-01.svg" alt="">
                       <p>12+ Lesson
                       </p>
                    </div>
                    <div class="time">
                      <img src="../../../../assets/img/icon/icon-02.svg" alt="">
                      <p>9hr 30min</p>
                    </div>
                  </div>

              </div>
              <div class="cardfooter">
                <div class="footer d-flex align-items-center justify-content-between">
                  <div class="rating m-0">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
                  </div>
                  <div class="all-btn all-category d-flex align-items-center">
                    <a href="checkout.html" class="btn btn-primary">BUY NOW</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="../../../../assets/img/course-01.jpg" alt="">
              </div>
              <div class="card-body">
                <div class="instructor-details">
                  <div class="img-title">
                    <img src="../../../../assets/img/user1.jpg" alt="">
                    <div class="inst-name-job">
                      <h3>  Nicole Brown</h3>
                      <p>instructor</p>
                    </div>

                  </div>
                  <div class="icon">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                  <div class="course-title">
                    <h3> Information About UI/UX Design Degree</h3>
                  </div>
                  <div class="lessons-time">
                    <div class="img-lesson">
                       <img src="../../../../assets/img/icon/icon-01.svg" alt="">
                       <p>12+ Lesson
                       </p>
                    </div>
                    <div class="time">
                      <img src="../../../../assets/img/icon/icon-02.svg" alt="">
                      <p>9hr 30min</p>
                    </div>
                  </div>

              </div>
              <div class="cardfooter">
                <div class="footer d-flex align-items-center justify-content-between">
                  <div class="rating m-0">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
                  </div>
                  <div class="all-btn all-category d-flex align-items-center">
                    <a href="checkout.html" class="btn btn-primary">BUY NOW</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="../../../../assets/img/course-01.jpg" alt="">
              </div>
              <div class="card-body">
                <div class="instructor-details">
                  <div class="img-title">
                    <img src="../../../../assets/img/user1.jpg" alt="">
                    <div class="inst-name-job">
                      <h3>  Nicole Brown</h3>
                      <p>instructor</p>
                    </div>

                  </div>
                  <div class="icon">
                    <i class="fa-regular fa-heart"></i>
                  </div>
                </div>
                  <div class="course-title">
                    <h3> Information About UI/UX Design Degree</h3>
                  </div>
                  <div class="lessons-time">
                    <div class="img-lesson">
                       <img src="../../../../assets/img/icon/icon-01.svg" alt="">
                       <p>12+ Lesson
                       </p>
                    </div>
                    <div class="time">
                      <img src="../../../../assets/img/icon/icon-02.svg" alt="">
                      <p>9hr 30min</p>
                    </div>
                  </div>

              </div>
              <div class="cardfooter">
                <div class="footer d-flex align-items-center justify-content-between">
                  <div class="rating m-0">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
                  </div>
                  <div class="all-btn all-category d-flex align-items-center">
                    <a href="checkout.html" class="btn btn-primary">BUY NOW</a>
                    </div>
                </div>
              </div>
            </div>
          </div>

        </div>


  </div>
</section>

